<%- include('../partials/header')%>

<section id="active-orders">
<% orders.forEach(function(order){ %>
    <article>
        <p><strong>Order ID:</strong> <%= order._id %></p>
        <p><strong>Order Time:</strong> <%= order.updatedAt %></p>
      <form action="/orders/<%= order._id %>/serve" method="POST">
          <button> Serve </button>
      </form>  
    </article>
    
<section id="served-orders"></section>
        <article>
            <p><strong>Order ID:</strong> <%= order._id %></p>
            <p><strong>Order Time:</strong> <%= order.updatedAt %></p>
        </article>
    
<% }) %>
</section>

<%- include('../partials/footer')%>