<%- include('../partials/header')%>

<section id="order-details">
<!-- if else statement using flounders -->
<% if (order.currentForUser) { %>
    <h2> Current Order </h2>
<% } else { %>
    <h2> Previous Order </h2>
<% } %>

<p>Order Id <%= order._id %></p>
<hr>

<h3 class="orderItems">Items</h3>

<% order.items.forEach(function(item){ %>
    <div>
        <p id="listOfItems"><%= item.name %></p>
    </div>
    <!-- REMEMBER TO CHECK ROUTES! -->
    <form action="/orders/item/<%= item._id %>?_method=DELETE" method="POST">
        <button type="submit">remove</button>
    </form>
    <!-- REMEMBER TO CHECK ROUTES! -->

<% }) %>

<a href="/items">Return to Items</a>
<form action="/orders/send" method="POST">
    <button type="submit">SEND ORDER</button>

</form>

</section>



<%- include('../partials/footer')%>