<%- include('../partials/header') %>

<section id="categories">
  <% categories.forEach(function(c) { %>
    <a href="/items?category=<%= c %>"><%= c %></a> &nbsp; &nbsp; &nbsp;
  <% }); %>
</section>

<section id="items">
  <% items.forEach(function(item, idx) { %> 
    <% console.log(item._id) %>
    <div>
     <a class="button" href="#popup<%= idx %>"> <%= item.name %> </a>
     <div id="popup<%= idx %>" class="overlay">
       <div class="box">
         <a class="close" href="#">&times;</a>
         <div class="content">
           <%= item.price %>
           <div class="price">Price:</div>
          </div>
          <form action="/orders/item/<%= item._id %>" method="POST">
            <button type="submit">Add to Order</button>
        </form>
      </div>
    </div>
  </div>
  <% }); %>

  <!-- edit this to go into the drink item boxes -->
  <!-- <div id="edit">
    <form action="`/orders/${order._id}`" method="POST">
        <input type="text" id="edit-item">
        <input type="submit" value="Save">
        <a onclick="CloseInput()">&#10006;</a>
    </form>
  </div> -->
  <!-- end of code -->
</section>


<%- include('../partials/footer') %>


